.div1{
  
    background-color: black;
}
h1{
    text-emphasis-color: brown;
}
button{
    height:40px;
    width: 40px;
   
    
}
.view3{
    
   
}
h1{
    margin: 30px;
    color: rgb(110, 19, 19);
}
