<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>

</head>
<body>
    <h1 class="one">learning css is in progress</h1>
    <h2 id="two">hey are you learning ?</h2>
    <h3 class="border">yea i am learning</h3>
    <p>this is hover for html</p>
    <div class="box1">akhilesh</div>
    <div class="box2">akhilesh 2</div>
    <hr>
    <div class="container">
    <div class="item one">one</div>
    <div class="item two">two</div>
    <div class="item three">three</div>



</body>
</html>