<html>
<head>
<!--title discription icon styles scripts -->
<title>learn html </title>
</head>
<body> 
    <h1> learning code</h1>
    <h2>learning is in progress</h2>
    <h3>learn css</h3>
    <h4>learn java     </h4>
    <!--for paragraph-->
    <p>learning html first day . aim to finish in one week</p>
<strong>i am here doing html practice</strong>
<i>i am here doing html practice</i>
<h5 > <i>i am doing html</i></h5>
<h6> hrey hoe ar you ?</h6>
<a href="https://www.google.com/">click here to visit google</a>

<h1 id="heading" style="color:darkslategrey;text-align: center;">new beginning</h1>

<h2>horse image</h2>

<img src="img.jpg" alt="horse in a fire" width="200" height="200">
<button>click me </button>

</body>
<p><del>rs. 1000   </del>500</p>

<p>2<sup>10</sup> </p>
<p><sub>2</sub> 10<sup>2</sup></p>


<ol>
    <li>one </li>
    <li>two</li>
    <li>three</li>

</ol>
<ul><li>one </li>
    <li>two</li>
    <li>three</li>
</ul>
<table border="">
    <tr>
        <th>heading1</th>
        <th>heading 2</th>
        <th>heading 3</th>

    </tr>
    <tr>
        <td>one</td>
        <td>two</td>
        <td>three</td>
    </tr>
</table>


</html>