<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <!--ctrl+/-->
<!-- hyperlink -->
  
    <a href="https://www.google.com/"> click here to open in new tab</a>

<!-- new tab me google ko kholne ke liye target use krnge -->

    <a href="https://www.google.com/" target="_blank">open in new tab</a>

    <!-- block level elements -->
    <p>google</p>
    <p>pwskills</p>
    <p>ggole</p>
<div>goolge</div>
    <!-- inline elements -->
<span>hey </span>
<span>how</span>
<span>are </span>
<span>u</span>
<!-- self closing tag -->
<hr>
<img src="C:\Users\pc\Downloads\12312.jpg" alt="wallpaper">
<img src="https://wallpapers.com/aesthetic" alt="wallpaper"><br><hr>
<!-- form -->
<fieldset>
    <legend>user registration!!</legend>
    <form method="get" action="">
        name:<input type="text"placeholder="Enter name" value="akhilesh" readonly disabled><br>
           email:<input type="email" placeholder="email" required><br>
           password:<input type="password" placeholder="password"><br>
           <label for="address">Enter your address:</label><br>
           <textarea name="" id="" cols="30" rows="10"></textarea><br>
           Gender:<input type="radio" name="Gender" id="" value="male">Male
           <input type="radio" name="Gender"id="" value="female">Female <br>
           DOB:<input type="date" name="" id=""><br>
          
           <input type="submit"value="login">
       
       
       </form>
</fieldset>
<aside>gello htlm</aside>
    
</body>
</html>