<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="images/12312.jpg" alt="image" height="130" width="123" title="scenery">
    <ol>
        <li>one</li>
        <li>two</li>
        <li>three</li>
        <li>four</li>
        <li>five</li>
    </ol>
    <ul>
        <li>one </li>
        <li>six</li>
        <li>three</li>
        <li>three</li>
        <li>four</li>
    </ul>
<!-- discription list ,discription details,discription terms -->
<dl>
    <dt>iphone 14</dt>
    <dd>iphone 14 has a15 bionic chip </dd>
    <dd>it is announced on 14 october 2022</dd>
</dl>
<!-- interlinking -->
<a href="https://www.typingtest.com/" target="blank">google</a>
<br>
<a href="second.html" target="blank">html page
</a><br>
<a href="mailto:akhileshjoshi999@gmail.com">send me a mail</a><br>
<p>howw to give a download link</p>
<a href="learnhtml.html" download>download</a><br>
<video src="https://player.vimeo.com/progressive_redirect/playback/769576744/rendition/720p/file.mp4?loc=external&oauth2_token_id=57447761&signature=d6f6656f72a88450df65bbd196e74d812bb8d5b5e81f7210a1ca000f9a39c06b" controls width="200px" height="140px"></video>
<video controls width="343" height="123" autoplay><source src="https://player.vimeo.com/progressive_redirect/playback/769576744/rendition/720p/file.mp4?loc=external&oauth2_token_id=57447761&signature=d6f6656f72a88450df65bbd196e74d812bb8d5b5e81f7210a1ca000f9a39c06b" ></video>
<audio src="https://www.pagalworld.com.se/files/download/id/64630" controls></audio>
<audio controls autoplay muted><source src="https://www.pagalworld.com.se/files/download/id/64630"></audio>

</body>
</html>