<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">//used to be seen on internet explorer
    <meta name="viewport" content="width=device-width, initial-scale=1.0">//change the width of the device to scale 1
    <title>Document</title>
</head>
<body>
    <img src="" alt="">
    <iframe src="https://www.youtube.com/embed/r6SjNabfwn8" frameborder="0"></iframe>
    <div>
        <p>
            <li></li>
        </p>
    </div>
    <p>lorem0</p>
    <h6 class="class"></h6>
    <h1 id="id1"></h1>
    <h2 class="class23"></h2>
    <div class="class1">
        <p class="classp">
            <p id="un1">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </p>
        </p>

    </div>
    <!-- div>p+p+p-->
    <div>
        <p></p>
        <p></p>
        <p></p>
    </div>
    <!-- ui+li*5 -->
    <ui>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ui>
    <!-- div[src] -->
    <div src=""></div>
    <ui>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ui>
img(src=img.jpg,alt=image)

<a href="#" class="link"></a>     


</body>
</html>