<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p{
            border: 2px solid red;
            height: 200px;
            width: 200px;
         color:rgb(118, 12, 12);
            background-color: rgb(41, 171, 30);
            overflow:auto;
        }
    </style>
</head>
<body>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui voluptatum delectus est nobis, animi velit voluptates, dolores ipsum, et expedita soluta molestiae quae laudantium maiores. Quaerat nihil illo itaque assumenda magni earum labore, debitis rem, nulla officiis corporis quae laboriosam! Mollitia minus sint pariatur temporibus accusamus veritatis facere nisi? Non culpa enim dicta, odit beatae reprehenderit veniam, provident voluptates labore nostrum ex quae, asperiores quia obcaecati porro. Reprehenderit beatae laudantium magni impedit voluptatum ad totam maiores illo aliquid eos ipsam obcaecati similique vero a omnis aperiam, consectetur optio? Et consequuntur repudiandae labore quos cumque veniam perspiciatis doloribus reprehenderit tempore commodi?</p> 
</body>
</html>