<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <!-- font ke liye google font se liya hua link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="./style2.css">
</head>
<body>
    <a href="aks">google</a>
    
    <img src="hello.png" alt="pw">
    <img src="helo.png" alt="pw1">
    <!-- desendent selector -->
    <main>
        <p>hello this is ame</p>

    </main>
    <h1>
        <p>hello this is messs</p>
    </h1>
    <!-- child selector -->
    <h1><p>hello child selector</p>
    </h1>
    <!-- adjecent sibling selector -->
     <section>
        <p>hello adjectent</p>
    </section>
    <p>adjecent selector</p> 
    <!-- general  sibling selector -->
    <section>
        <p>hello general</p>
    </section>
    <p>general selector</p>
    <p>shllod</p>
    <!-- font -->
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, doloremque.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque assumenda quam asperiores, nesciunt numquam consequuntur officiis similique minima tempore dolor, sed atque, esse dolorem totam. Molestias necessitatibus recusandae odio officiis quae repellendus commodi impedit quas architecto quos, at deleniti animi unde, non omnis praesentium et eligendi exercitationem nemo adipisci illum vel! Alias nam enim tempore excepturi illo dolores a? Exercitationem, aliquid.</p>
<!-- text -->
<p class="text">hello are u there ?</p>

</body>
</html>