<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="" cellpadding="20px">
        <tr>
            <th>sr.no.</th>
            <th>sub 1</th>
            <th>sub2</th>
            <th>sub3</th>
        </tr>
        <tr>
            <td>1</td>
            <td>art</td>
            <td colspan="2">science</td>
            
        </tr>
        <tr>
            <td>2</td>
            <td>english</td>
            <td >computer</td>
            <td rowspan="2">
                hindi
            </td>
           
        </tr>
        <tr>
            <td>2</td>
            <td>english</td>
            <td rowspan="2">computer</td>
           
        </tr>
    </table>
</body>
</html>