<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table border="" cellpadding="20px">
        <thead>
            <tr><th colspan="7">time table</th></tr>
            
            <tr>
                 <th>day lec</th>
                <th>I <br>9:00-9:30</th>
                <th>II<br>9:00-9:30</th>
                <th>III <br>9:00-9:30</th>
                <th>lunch</th>
                <th>IV<br>9:00-9:30</th>
                <th>V<br>9:00-9:30</th>
                <td>VI<br>9:00-9:30</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>monday</td>
                <td></td>
                <td></td>
                <td ></td>
                <td rowspan="4">lunch</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>tuesday</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>wednesday</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>friday</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>saturday</td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="4">no lecture</td>
                
            </tr>
        </tbody>
    </table>
</body>
</html>